html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align:center;
    background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
table {
    width: 70%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin: auto;
    margin-bottom: 40px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #dddddd;
}

th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: rgb(150, 236, 150);
}

tr:hover {
    background-color: #c1bfbf;
}

table {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

path{
    fill: #499955;
    stroke: #ffffff;
    stroke-width: .5;
}

path:hover{
    fill:black
}

table tr.highlight {
    background-color: gray !important;
    transition: background-color 0.5s ease-in-out;
}